{% extends "layout.html" %}


{% block content%}
<div class="container mb-5 mt-5">
    <h1>Login</h1>
</div>
<div class="d-flex justify-content-center align-items-center border rounded-2 p-3 h-auto mx-5" style="margin-top: 25%;">
    <div class="border-2">
        <form method="POST" action="" class="m-4">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg ")}}
                {% endif %}
            </div>
            {{ form.password.label(class="form-control-label")}}
            <div class="mb-3 input-group toggle_password">
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid")}}
                <span class="input-group-text">
                    <i class="fa fa-eye" id="show_eye"></i>
                    <i class="fa fa-eye-slash d-none" id="hide_eye"></i>
                </span>
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg")}}
                <span class="input-group-text">
                    <i class="fa fa-eye" id="show_eye"></i>
                    <i class="fa fa-eye-slash d-none" id="hide_eye"></i>
                </span>
                {% endif %}
            </div>
            <div class="mb-3 ">
                {{ form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label")}}
            </div>

            <div class="form-group mb-3">
                {{ form.submit(class="btn btn-light button_purple") }}
            </div>
            <div class="border-top pt-2">
                <small class="text-muted">
                    Need An Account? <a class="ml-2 a_link" href="{{ url_for('register')}}" > Sign Up Now </a>
                </small>
            </div>
        </form>
    </div>
</div>
    {% endblock content %}